<mat-card>
    <mat-card-header>
        <mat-card-title mat-dialog-title>
            <div *ngIf="!data.onlyView">
                {{data?'Add Yard':'Edit Yard'}}
            </div>
            <div *ngIf="data.onlyView">
                {{'View Yard'}}
            </div>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <form class="example-form" [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
        <mat-card-content>
            <div mat-dialog-content>
                <input type="hidden" value="0" formControlName="id">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Arabic name" formControlName="nameAr">
                                <!-- error -->
                                <mat-error *ngIf="errorHandling('nameAr', 'required')">
                                    You must provide an <strong>arabic name</strong>
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="English name" formControlName="nameEn">
                                <!-- error -->
                                <mat-error *ngIf="errorHandling('nameEn', 'required')">
                                    You must provide an <strong>english name</strong>
                                </mat-error>
                            </mat-form-field>
                        </td>

                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Select a country</mat-label>
                                <mat-select formControlName="countryId" (selectionChange)="onChangeCountry($event)">
                                    <mat-option>None</mat-option>
                                    <mat-option [value]="country.id" *ngFor="let country of countries">
                                        {{country.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="errorHandling('countryId','required')">
                                    You must provide a <strong>country</strong>
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Select an emirate</mat-label>
                                <mat-select formControlName="emirateId">
                                    <mat-option>None</mat-option>
                                    <mat-option [value]="emirate.id" *ngFor="let emirate of emirates">
                                        {{emirate.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="errorHandling('emirateId','required')">
                                    You must provide an <strong>emirate</strong>
                                </mat-error>
                            </mat-form-field>
                        </td>

                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-chip-list ngDefaultControl formControlName="yardBoundaries" #chipList>
                                    <mat-chip *ngFor="let point of points"
                                              [removable]="removable" (removed)="remove(point)">
                                        {{point}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>

                                    </mat-chip>

                                    <mat-icon matTooltip="Manage yard points" class="openMap"
                                              [matTooltipPosition]="position"
                                              matSuffix (click)="naviagteToMap()">add_location</mat-icon>
                                    <mat-error *ngIf="errorHandling('yardBoundaries','required')">
                                        You must provide a <strong> boundaries</strong>
                                    </mat-error>
                                </mat-chip-list>

                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Area" formControlName="area">
                                <!-- error -->
                                <mat-error *ngIf="errorHandling('area', 'required')">
                                    You must provide an <strong>area</strong>
                                </mat-error>
                            </mat-form-field>
                        </td>

                    </tr>
                </table>

                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input type="number" matInput placeholder="Capacity" formControlName="capacity">
                                <!-- error -->
                                <mat-error *ngIf="errorHandling('capacity', 'required')">
                                    You must provide a <strong>capacity</strong>
                                </mat-error>

                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input type="number" matInput placeholder="Threshold capacity" formControlName="thresholdCapacity">
                                <!-- error -->
                                <mat-error *ngIf="errorHandling('thresholdCapacity', 'required')">
                                    You must provide a <strong>threshold capacity</strong>
                                </mat-error>
                            </mat-form-field>
                        </td>

                    </tr>
                </table>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput type="time" placeholder="Working hours from" formControlName="workingFrom">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput type="time" placeholder="Working hours to" formControlName="workingTo">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button *ngIf="!data.onlyView" type="submit">Save</button>
            <button mat-button color="warn" [mat-dialog-close]="false">
                {{data.onlyView?'Close':'Cancel'}}
            </button>
        </mat-card-actions>
    </form>

</mat-card>



