<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <h1> {{parentName}}</h1>
        </div>

        <div class="row">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Contact search
                        </mat-panel-title>
                        <mat-panel-description>
                            Click to search
                            <mat-icon>search</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-card>
                        <mat-card-header>
                            <mat-card-title mat-dialog-title>
                                <div>
                                    Search
                                </div>
                            </mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <form class="example-form" [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
                            <mat-card-content>
                                <div mat-dialog-content>
                                    <table class="example-full-width" cellspacing="0">
                                        <tr>
                                            <td>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="name" formControlName="name">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width">
                                                    <input type="email" matInput placeholder="Email" formControlName="email">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width">
                                                    <input type="number" matInput placeholder="Landline number" formControlName="landline">
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                    </table>

                                    <table class="example-full-width" cellspacing="0">
                                        <tr>
                                            <td>
                                                <mat-form-field class="example-full-width">
                                                    <input type="tel" matInput placeholder="Mobile" formControlName="mobile">

                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-checkbox formControlName="isActive" class="example-margin example-full-width">Is active</mat-checkbox>
                                            </td>
                                        </tr>
                                    </table>
                                    <mat-error *ngIf=" form.touched &&!form.valid">
                                        You must provide at least one field
                                    </mat-error>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-raised-button type="submit">Search</button>
                                <button mat-raised-button color="warn" (click)="cancelSearch()">Reset</button>
                            </mat-card-actions>
                        </form>

                    </mat-card>

                </mat-expansion-panel>

            </mat-accordion>
        </div>
        <br />

        <app-table [inputColumns]="displayColumns"
                   [getAll]="getAll"
                   [AddOrEditComponent]="AddOrEditComponent"
                   [changeActivation]="changeActivation"
                   [filter]="filter"
                   [backLink]="'/provider/list'"
                   [hasBackLink]="true"></app-table>
    </div>
</div>

