<div class="row">
    <div *ngIf="hasBackLink">
        <button matTooltip="Back"
                [matTooltipPosition]="position"
                mat-raised-button [routerLink]="[backLink]">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>

    <div *ngIf="hasAddLink">
        <button matTooltip="Add"
                [matTooltipPosition]="position"
                (click)="openAddDialog()" mat-raised-button>
            <mat-icon>add_circle_outline</mat-icon>
        </button>
    </div>
</div>

<div class="row" *ngIf="hasResults">
    <div class="example-container mat-elevation-z8">
        <div class="example-loading-shade"
             *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>

        <div class="example-table-container">
            <table #table mat-table [dataSource]="dataSource" multiTemplateDataRows
                   matSort matSortDisableClear matSortDirection="desc">
                <ng-container *ngFor="let column of coulmns" matColumnDef="{{column.key}}">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-right: 25px;">{{column.value}}</th>
                    <td mat-cell *matCellDef="let row" style="padding-right: 25px;">
                        <span *ngIf="column.key!='vehicleImages'"> {{row[column.key]}} </span>
                        <div *ngIf="column.key=='vehicleImages'">
                            <img src={{row[column.key]}} height="80" width="100" />
                            <div>
                                <a (click)="openImagesDialog(row)" target="_blank" style="font-size: 13px; cursor: pointer;">Manage Images</a>
                            </div>
                        </div>
                    </td>

                </ng-container>

                <!-- <div *ngIf="_mergedColumns.length>0">
                    <ng-container   matColumnDef="{{column.key}}">
                        <div *ngFor="let column of _mergedColumns">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.value}}</th>
                            <td mat-cell *matCellDef="let row">{{row[column.key]}}</td>
                        </div>

                    </ng-container>
                </div> -->
                <!-- <div *ngFor="let column of coulmns">
                    <div *ngIf="!column.innerColumns">
                    <ng-container  matColumnDef="{{column.key}}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.value}}</th>
                        <td mat-cell *matCellDef="let row">{{row[column.key]}}</td>

                    </ng-container>
                </div>

                    <div *ngIf="column.innerColumns">
                        <ng-container *ngFor="let inner of column.innerColumns"  matColumnDef="{{inner.key}}">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{inner.value}}</th>
                            <td mat-cell *matCellDef="let row">{{row[column.key][inner.key]}}</td>

                        </ng-container>
                    </div>
                </div> -->
                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">

                        <button *ngIf="hasView" matTooltip="View"
                                [matTooltipPosition]="position"
                                mat-button
                                (click)="openViewDialog(element)">
                            <mat-icon>remove_red_eye</mat-icon>
                        </button>

                        <button *ngIf="!(hasApprove || element.statusId && element.statusId==1)" matTooltip="Edit"
                                [matTooltipPosition]="position"
                                mat-button
                                (click)="openEditDialog(element)">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <a *ngIf="hasApprove || (element.statusId && element.statusId==1)" matTooltip="approve"
                           [matTooltipPosition]="position"
                           mat-button
                           (click)="approve(element)">
                            <mat-icon>done</mat-icon>
                        </a>

                        <a *ngIf="hasDetails" matTooltip="{{detailsLinkName}}"
                           [matTooltipPosition]="position"
                           mat-button
                           [routerLink]="['/'+detailsLink,element.id,element.name]">
                            <mat-icon> contacts</mat-icon>
                        </a>

                        <a *ngIf="hasZones" matTooltip="View yard zones"
                           [matTooltipPosition]="position"
                           mat-button
                           [routerLink]="['/'+zoneLink,element.id,element.name]">
                            <mat-icon>layers</mat-icon>
                        </a>

                        <a *ngIf="VehicleDetails" matTooltip="View Vehicle Details"
                           [matTooltipPosition]="position"
                           mat-button
                           [routerLink]="['/'+detailsLink]">
                            <mat-icon>info</mat-icon>
                        </a>
                        
                        <a *ngIf="element.dataStatusName == 'Pending Data Completion'" matTooltip="Complete Vehicle Data"
                        [matTooltipPosition]="position"
                        mat-button
                        (click)="openEditDialog(element)">
                         <mat-icon>check_box</mat-icon>
                     </a>

                        <mat-slide-toggle  *ngIf="hasActiveStatus" matTooltip="{{element.isActive?'De activate':'Activate'}}"
                                          [matTooltipPosition]="position"
                                          (toggleChange)="changeActivationStatus(element)"
                                          [color]="color"
                                          [checked]="element.isActive">
                        </mat-slide-toggle>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>


        <mat-paginator [pageSize]="viewResultsSize" [length]="resultsLength" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div *ngIf="!hasResults" class="d-flex align-items-center" id="noResults">
        <div class="thumbnail w-50 p-3 h-50 d-inline-block">
            <img src="/assets/img/noresults.jpg" class="img-thumbnail img-rounded" style="width:100%">
        </div>
    </div>
</div>


