<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Vehicle search
                        </mat-panel-title>
                        <mat-panel-description>
                            Click to search
                            <mat-icon>search</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title mat-dialog-title>
                                <div>
                                    Search
                                </div>
                            </mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
                            <mat-card-content>
                                <div mat-dialog-content>
                                    <table class="example-full-width" cellspacing="0">
                                        <tr>
                                            <td>
                                                <mat-form-field style="padding-right: 30px;">
                                                    <mat-label>Select a provider</mat-label>
                                                    <mat-select formControlName="providerIdsFilter" multiple>
                                                        <mat-option #providerAllSelected (click)="toggleAllSelection(this.form.controls.providerIdsFilter)" [value]="-1">All</mat-option>
                                                        <mat-option [value]="provider.id" *ngFor="let provider of providers">
                                                            {{provider.nameEn}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field style="padding-right: 30px;">
                                                    <mat-label>Select a beneficiary</mat-label>
                                                    <mat-select formControlName="beneficiaryIdsFilter" multiple>
                                                        <mat-option #beneficiaryAllSelected (click)="toggleAllSelection(this.form.controls.beneficiaryIdsFilter)" [value]="-1">All</mat-option>
                                                        <mat-option [value]="beneficiary.id" *ngFor="let beneficiary of beneficiaries">
                                                            {{beneficiary.nameEn}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field style="padding-right: 30px;">
                                                    <mat-label>Select a vehicle type</mat-label>
                                                    <mat-select formControlName="vehicleTypeIdsFilter" multiple>
                                                        <mat-option #vehicleTypeAllSelected (click)="toggleAllSelection(this.form.controls.vehicleTypeIdsFilter)" [value]="-1">All</mat-option>
                                                        <mat-option [value]="vehicleType.id" *ngFor="let vehicleType of vehicleTypes">
                                                            {{vehicleType.nameEn}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field style="padding-right: 30px;">
                                                    <mat-label>Select a status</mat-label>
                                                    <mat-select formControlName="statusIdsFilter" multiple>
                                                        <mat-option #statusAllSelected (click)="toggleAllSelection(this.form.controls.statusIdsFilter)" [value]="-1">All</mat-option>
                                                        <mat-option [value]="status.id" *ngFor="let status of vehicleStatus">
                                                            {{status.title}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field>
                                                    <mat-label>Select a data status</mat-label>
                                                    <mat-select formControlName="dataStatusIdsFilter" multiple>
                                                        <mat-option #dataStatusAllSelected (click)="toggleAllSelection(this.form.controls.dataStatusIdsFilter)" [value]="-1">All</mat-option>
                                                        <mat-option [value]="dataStatus.id" *ngFor="let dataStatus of vehiclesDataStatus">
                                                            {{dataStatus.name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <mat-form-field style="padding-right: 30px;">
                                                    <input matInput placeholder="vin number" formControlName="vin">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field style="padding-right: 30px;">
                                                    <input matInput placeholder="qr code" formControlName="qrCodeFilter">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field style="padding-right: 30px;">
                                                    <input matInput placeholder="asset id" formControlName="idStrFilter">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field style="padding-right: 30px;">
                                                    <input matInput placeholder="plate number" formControlName="plateNumberFilter">
                                                </mat-form-field>

                                            </td>
                                        </tr>
                                    </table>
                                    <mat-error *ngIf=" form.touched &&!form.valid">
                                        You must provide at least one field
                                    </mat-error>

                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button type="submit">Save</button>
                                <button mat-button color="warn" (click)="cancelSearch()">Cancel</button>
                            </mat-card-actions>
                        </form>

                    </mat-card>

                </mat-expansion-panel>

            </mat-accordion>
        </div>
        <br />
        <app-table [inputColumns]="displayColumns"
                   [getAll]="getAll" [detailsLink]="detailsLink"
                   [AddOrEditComponent]="AddOrEditComponent"
                   [filter]="filter" [hasChangeOwnership]="true"
                   [hasAddLink]="false" [hasActiveStatus]="false"
                   [viewResultsSize]="50"
                   [ListPopupComponent]="ListPopupComponent"
                   [ActionsPopupListComponent]="ActionsPopupListComponent"></app-table>
    </div>
</div>
