<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Provider search
                        </mat-panel-title>
                        <mat-panel-description>
                            Click to search
                            <mat-icon>search</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title mat-dialog-title>
                                <div>
                                    Search
                                </div>
                            </mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
                            <mat-card-content>
                                <div mat-dialog-content>


                                    <mat-form-field>
                                        <input matInput placeholder="name" formControlName="name">
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-label>Select a country</mat-label>
                                        <mat-select formControlName="countryId" (selectionChange)="onChangeCountry($event)">
                                            <mat-option>None</mat-option>
                                            <mat-option [value]="country.id" *ngFor="let country of countries">
                                                {{country.name}}
                                            </mat-option>
                                        </mat-select>

                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-label>Select a emirate</mat-label>
                                        <mat-select formControlName="emirateId">
                                            <mat-option>None</mat-option>
                                            <mat-option [value]="emirate.id" *ngFor="let emirate of emirates">
                                                {{emirate.name}}
                                            </mat-option>
                                        </mat-select>

                                    </mat-form-field>

                                    <mat-form-field>
                                        <input matInput placeholder="Area" formControlName="distance">
                                    </mat-form-field>

                                    <mat-form-field>
                                        <input type="number" matInput placeholder="Threshold capacity" formControlName="thresholdCapacity">
                                    </mat-form-field>

                                    <mat-form-field>
                                        <input matInput placeholder="Working hours from" formControlName="workingFrom" [ngxTimepicker]="pickerFrom">
                                        <ngx-material-timepicker #pickerFrom></ngx-material-timepicker>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <input matInput placeholder="Working hours to" formControlName="workingTo" [ngxTimepicker]="pickerTo">
                                        <ngx-material-timepicker #pickerTo></ngx-material-timepicker>
                                    </mat-form-field>


                                    <mat-error *ngIf=" form.touched &&!form.valid">
                                        You must provide at least one field
                                    </mat-error>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button type="submit">Save</button>
                                <button mat-button color="warn" (click)="cancelSearch()">Cancel</button>
                            </mat-card-actions>
                        </form>

                    </mat-card>

                </mat-expansion-panel>

            </mat-accordion>
        </div>
        <br />
        <app-table [inputColumns]="displayColumns"
                   [getAll]="getAll"
                   [AddOrEditComponent]="AddOrEditComponent"
                   [changeActivation]="changeActivation"
                   [filter]="filter"></app-table>
    </div>
</div>
