<mat-card>
    <mat-card-header>
        <mat-card-title mat-dialog-title>
            <div *ngIf="!data.onlyView">
                {{data.id==null?'Add beneficiary contract':'Edit beneficiary contract'}}
            </div>

            <div *ngIf="data.onlyView">
                {{'View beneficiary contract'}}
            </div>

        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <form class="example-form" [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
        <mat-card-content>
            <div mat-dialog-content>
                <input type="hidden" value="0" formControlName="id">

                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Name" formControlName="name">
                                <!-- error -->
                                <mat-error *ngIf="errorHandling('name', 'required')">
                                    You must provide a <strong>name</strong>
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input type="email" matInput placeholder="Email" formControlName="email">
                                <!-- error -->
                                <mat-error *ngIf="errorHandling('email', 'required')">
                                    You must provide an <strong>email</strong>
                                </mat-error>
                                <mat-error *ngIf="errorHandling('email', 'email')">
                                    You must provide a <strong>valid email</strong>
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input type="tel" matInput placeholder="Mobile" formControlName="mobile">
                                <!-- error -->
                                <mat-error *ngIf="errorHandling('mobile', 'required')">
                                    You must provide a <strong>mobile</strong>
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>

                            <mat-form-field class="example-full-width">
                                <input type="number" matInput placeholder="Landline number" formControlName="landline">
                            </mat-form-field>

                        </td>
                    </tr>
                </table>

            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button *ngIf="!data.onlyView" type="submit">Save</button>
            <button mat-button color="warn" [mat-dialog-close]="false">
                {{data.onlyView?'Close':'Cancel'}}
            </button>
        </mat-card-actions>
    </form>

</mat-card>



